body {
    font-family: "Roboto", sans-serif;
    font-style: normal;
}
.list {
    list-style: none;
}
.link {
text-decoration: none;
}
.navigation-list-link {
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.143;
letter-spacing: 0.02em;
}